.container{
  color: aquamarine;
  padding: 10px;
  background-color: black;
}

.xyz{
  display:flex;
  gap: 20px;
  background-color: black;
  
  

}
.a{
  background-color:orange;
  padding: 30px;

}
.b{
  background-color:lightgreen;
  padding: 30px;

}
.c{
  background-color: brown;
  padding: 30px;

}